
        
body { height: 4000px; }

#top { position: fixed; bottom: 50px; right: 50px;}

* { font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black; }




.intro_bg{
    background-image:url("nagoya.jpg") ;
    background-size: cover;
    height: 900px;

    position: relative;
        top: 0;
        left: 0;
        transition: transform 1s ease-out;

}

.intro_bg::after {
  content: "";
  display: block;
  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 179px; /* 흐리게 만들 부분의 높이에 맞게 조정하세요 */
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
    font-weight: 500;

}

.searchArea  {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-top: 24px;
   
}

.searchArea > form > input{
    border: none;
    background: rgba(0,0,0,0.0);
    color: white;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    
}

.searchArea > form > span{
    width: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width:calc(1280px - 300px) ;
    color: white;
}

.nav li{
    margin-left:  84px; ;
}

.intro_text {
    width: 100%;
    margin:231px auto 231px auto; 
    /*상우하좌*/
    text-align: center;
}



.content1{
    font-size: 20px;
    border-bottom: 1px black ;
    
}

h1 {
    font-size: 100px;
    font-weight: 100px;
    background-color: black;
    
    color: #fff;
    padding: 10px;
    
}



.amount {
    display: flex;
    width: 1280px;
    margin: auto;
    position: relative;
    /* position: relative는 현 위치고정후 top 값을 주며 위치를 변경한다 */
    top: -66px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1); 
}

.amount > li {
    flex: 1;
    height: 132px;
    background-color: white;
    
    
    
}

.amount > li > div {
    text-align: center;
    height: 57px;
    margin-top: 37px;
    
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid gray ;
} 

.result {
    font-size: 12px;
}

.animate-me {
    margin-top: 400px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
    transition: transform 1s ease-out;
}

